body {
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

#radiant-om-root {
    margin: 1em auto;
}

.container {
    max-width: none;
}

.radiant {
    width: 140px;
    font-size: 2em;
    font-weight: bold;
    float:left;
}

.result-pagination {
    margin-bottom: 0.5em;
    float: right;
    overflow: hidden;
}

.result-pagination span.item-count {
    margin-right: 1em;
}

.datoms-components-inputs .form-group {
    margin-bottom: 0;
}

.query-input textarea {
    font-family: Menlo, Monaco, "Courier New", monospace
}

.query-input .form-control-feedback, .datoms-components-inputs .form-control-feedback {
    top: 0;
}

span.schema {
    margin-right: 0.3em;
    border-radius: 4px;
    background: #eee;
    border: 1px solid #ddd;
    padding: 0.2em 0.5em;
}

span.schema span.ident {
    font-family: Menlo, Monaco, "Courier New", monospace;
    font-size: 0.9em;
}

span.schema span.label {
    margin-left: 0.2em;
}