[{:name "Clojure",
  :links
  [{:category "Clojure",
    :name "Official Clojure site",
    :uri "http://clojure.org",
    :tags [{:name "official"}],
    :tags-string "official"}
   {:category "Clojure",
    :name "Try Clojure",
    :uri "http://tryclj.com/",
    :tags [{:name "sandbox"}],
    :tags-string "sandbox"}
   {:category "Clojure",
    :name "Clojure Jira Issue Tracker",
    :uri "http://dev.clojure.org/jira/secure/IssueNavigator.jspa",
    :tags [{:name "bugs"} {:name "official"}],
    :tags-string "bugs official"}
   {:category "Clojure",
    :name "Clojure source code",
    :uri "https://github.com/clojure/clojure",
    :tags [{:name "source"}],
    :tags-string "source"}]}
 {:name "Datomic",
  :links
  [{:category "Datomic",
    :name "Learn Datalog Today!",
    :uri "http://www.learndatalogtoday.org/",
    :tags [{:name "datalog"}],
    :tags-string "datalog"}
   {:category "Datomic",
    :name "MusicBrainz sample database",
    :uri "https://github.com/Datomic/mbrainz-sample"}
   {:category "Datomic",
    :name "Official Datomic site",
    :uri "http://www.datomic.com",
    :tags [{:name "official"}],
    :tags-string "official"}
   {:category "Datomic",
    :name "Simulant: simulation testing",
    :uri "https://github.com/Datomic/simulant/",
    :tags [{:name "simulant"}],
    :tags-string "simulant"}
   {:category "Datomic", :name "Datomic documentation", :uri "http://docs.datomic.com/"}
   {:category "Datomic",
    :name "Datomic Clojure API Reference",
    :uri "http://docs.datomic.com/clojure/index.html",
    :tags [{:name "api reference"}],
    :tags-string "api reference"}]}
 {:name "ClojureScript",
  :links
  [{:category "ClojureScript",
    :name "Programming Enchiladas",
    :uri "http://programming-enchiladas.destructuring-bind.org/"}
   {:category "ClojureScript",
    :name "ClojureScript source code",
    :uri "https://github.com/clojure/clojurescript",
    :tags [{:name "source"}],
    :tags-string "source"}
   {:category "ClojureScript",
    :name "Himera",
    :uri "http://himera.herokuapp.com/index.html",
    :tags [{:name "sandbox"}],
    :tags-string "sandbox"}
   {:category "ClojureScript",
    :name "CLJSFiddle",
    :uri "http://cljsfiddle.net/",
    :tags [{:name "sandbox"}],
    :tags-string "sandbox"}]}
 {:name "Core.async",
  :links
  [{:category "Core.async", :name "core.async/go", :uri "http://www.core-async.info/"}
   {:category "Core.async",
    :name "Core.async source code",
    :uri "https://github.com/clojure/core.async",
    :tags [{:name "source"}],
    :tags-string "source"}]}
 {:name "React & Om",
  :links
  [{:category "React & Om",
    :name "Reagent",
    :uri "https://github.com/holmsand/reagent",
    :tags [{:name "react"}],
    :tags-string "react"}
   {:category "React & Om",
    :name "Quiescent",
    :uri "https://github.com/levand/quiescent",
    :tags [{:name "react"}],
    :tags-string "react"}
   {:category "React & Om", :name "Om Tools", :uri "https://github.com/Prismatic/om-tools"}
   {:category "React & Om",
    :name "Om source code",
    :uri "https://github.com/swannodette/om",
    :tags [{:name "source"} {:name "om"} {:name "react"}],
    :tags-string "source om react"}
   {:category "React & Om",
    :name "Om Bootstrap",
    :uri "http://om-bootstrap.herokuapp.com/components"}]}
 {:name "Tools",
  :links
  [{:category "Tools",
    :name "Leiningen site",
    :uri "http://leiningen.org/",
    :tags [{:name "leiningen"}],
    :tags-string "leiningen"}
   {:category "Tools",
    :name "lein-plz",
    :uri "https://github.com/johnwalker/lein-plz",
    :tags [{:name "leiningen"}],
    :tags-string "leiningen"}
   {:category "Tools",
    :name "lein-ancient",
    :uri "https://github.com/xsc/lein-ancient",
    :tags [{:name "leiningen"}],
    :tags-string "leiningen"}
   {:category "Tools",
    :name "lein-cljsbuild",
    :uri "https://github.com/emezeske/lein-cljsbuild",
    :tags [{:name "leiningen"}],
    :tags-string "leiningen"}
   {:category "Tools",
    :name "lein-try",
    :uri "https://github.com/rkneufeld/lein-try",
    :tags [{:name "leiningen"}],
    :tags-string "leiningen"}
   {:category "Tools",
    :name "cljx",
    :uri "https://github.com/lynaghk/cljx",
    :tags [{:name "leiningen"}],
    :tags-string "leiningen"}]}
 {:name "Reference",
  :links
  [{:category "Reference",
    :name "Next ClojureDocs",
    :uri "http://next.clojuredocs.org/",
    :tags [{:name "api reference"}],
    :tags-string "api reference"}
   {:category "Reference",
    :name "CrossClj",
    :uri "http://crossclj.info/",
    :tags [{:name "api reference"}],
    :tags-string "api reference"}
   {:category "Reference",
    :name "Grimoire - Clojure API reference",
    :uri "http://grimoire.arrdem.com/",
    :tags [{:name "api reference"}],
    :tags-string "api reference"}]}
 {:name "Documentation",
  :links
  [{:category "Documentation", :name "Clojure guides", :uri "http://clojure-doc.org/"}]}
 {:name "Blogs & Blog aggregators",
  :links
  [{:category "Blogs & Blog aggregators",
    :name "Cognitect blog",
    :uri "http://blog.cognitect.com/",
    :tags [{:name "blogs"}],
    :tags-string "blogs"}
   {:category "Blogs & Blog aggregators",
    :name "Planet Clojure",
    :uri "http://planet.clojure.in/",
    :tags [{:name "blogs"}],
    :tags-string "blogs"}]}
 {:name "Newsletters",
  :links
  [{:category "Newsletters",
    :name "Clojure Gazette",
    :uri "http://www.clojuregazette.com/",
    :tags [{:name "newsletter"}],
    :tags-string "newsletter"}
   {:category "Newsletters",
    :name "(def newsletter)",
    :uri "http://defnewsletter.com/",
    :tags [{:name "newsletter"}],
    :tags-string "newsletter"}]}
 {:name "Talks, presentations & screencasts",
  :links
  [{:category "Talks, presentations & screencasts",
    :name "EuroClojure videos",
    :uri "http://vimeo.com/euroclojure",
    :tags [{:name "video"} {:name "talks"} {:name "presentations"}],
    :tags-string "video talks presentations"}
   {:category "Talks, presentations & screencasts",
    :name "YouTube channel",
    :uri "https://www.youtube.com/user/ClojureTV",
    :tags [{:name "video"} {:name "talks"} {:name "presentations"}],
    :tags-string "video talks presentations"}
   {:category "Talks, presentations & screencasts",
    :name "Strangeloop videos",
    :uri "https://www.youtube.com/channel/UC_QIfHvN9auy2CoOdSfMWDw/videos",
    :tags [{:name "video"} {:name "talks"} {:name "presentations"}],
    :tags-string "video talks presentations"}
   {:category "Talks, presentations & screencasts",
    :name "Purely Functional - Premium screencasts",
    :uri "http://www.purelyfunctional.tv/",
    :tags [{:name "video"}],
    :tags-string "video"}
   {:category "Talks, presentations & screencasts",
    :name "Clojure Presentations on InfoQ",
    :uri "http://www.infoq.com/Clojure/presentations/",
    :tags [{:name "presentations"} {:name "infoq"}],
    :tags-string "presentations infoq"}
   {:category "Talks, presentations & screencasts",
    :name "Clojure Interviews on InfoQ",
    :uri "http://www.infoq.com/Clojure/interviews/",
    :tags [{:name "talks"} {:name "infoq"}],
    :tags-string "talks infoq"}]}
 {:name "Libraries",
  :links
  [{:category "Libraries", :name "Clojurology", :uri "http://clojurology.com/"}
   {:category "Libraries", :name "ClojureWerkz libraries", :uri "http://clojurewerkz.org/"}
   {:category "Libraries", :name "Clojars", :uri "https://clojars.org/"}
   {:category "Libraries",
    :name "Clojure Toolbox",
    :uri "http://www.clojure-toolbox.com/"}]}
 {:name "Editors",
  :links
  [{:category "Editors",
    :name "Vim Fireplace",
    :uri "https://github.com/tpope/vim-fireplace",
    :tags [{:name "vim"}],
    :tags-string "vim"}
   {:category "Editors",
    :name "Clojure Emacs: CIDER",
    :uri "https://github.com/clojure-emacs/cider",
    :tags [{:name "cider"} {:name "emacs"}],
    :tags-string "cider emacs"}
   {:category "Editors",
    :name "Clojure Emacs: clj-refactor",
    :uri "https://github.com/clojure-emacs/clj-refactor.el",
    :tags [{:name "emacs"}],
    :tags-string "emacs"}
   {:category "Editors", :name "LightTable", :uri "http://www.lighttable.com/"}
   {:category "Editors",
    :name "Counterclockwise: Clojure Eclipse plugin",
    :uri "https://code.google.com/p/counterclockwise/",
    :tags [{:name "eclipse"}],
    :tags-string "eclipse"}
   {:category "Editors",
    :name "Cursive: Clojure IntelliJ plugin",
    :uri "https://cursiveclojure.com/",
    :tags [{:name "intellij"}],
    :tags-string "intellij"}]}
 {:name "Conferences",
  :links
  [{:category "Conferences", :name "StrangeLoop", :uri "https://thestrangeloop.com/"}
   {:category "Conferences",
    :name "ClojureConj",
    :uri "http://clojure-conj.org/",
    :tags [{:name "conj"}],
    :tags-string "conj"}
   {:category "Conferences",
    :name "LamdaJam",
    :uri "http://www.lambdajam.com/",
    :tags [{:name "lambdajam"}],
    :tags-string "lambdajam"}
   {:category "Conferences",
    :name "Clojure/West",
    :uri "http://www.clojurewest.org/",
    :tags [{:name "clojurewest"}],
    :tags-string "clojurewest"}]}
 {:name "Courses",
  :links
  [{:category "Courses",
    :name "Clojure for the Brave and True",
    :uri "http://www.braveclojure.com/"}
   {:category "Courses",
    :name "Aphyr's Clojure from the ground up",
    :uri "http://aphyr.com/tags/Clojure-from-the-ground-up"}
   {:category "Courses", :name "ClojureBridge", :uri "http://www.clojurebridge.org/"}]}
 {:name "Learn by doing",
  :links
  [{:category "Learn by doing", :name "4clojure", :uri "https://www.4clojure.com/"}
   {:category "Learn by doing",
    :name "ClojureKoans",
    :uri "http://clojurekoans.com/",
    :tags [{:name "koans"}],
    :tags-string "koans"}]}
 {:name "Forums",
  :links
  [{:category "Forums",
    :name "ClojureScript Google Group",
    :uri "https://groups.google.com/forum/#!forum/clojurescript",
    :tags [{:name "google group"}],
    :tags-string "google group"}
   {:category "Forums",
    :name "Clojure Google Group",
    :uri "https://groups.google.com/forum/#!forum/clojure",
    :tags [{:name "google group"}],
    :tags-string "google group"}]}
 {:name "Community",
  :links
  [{:category "Community",
    :name "Contributing to Clojure",
    :uri "http://dev.clojure.org/display/community/Contributing",
    :tags [{:name "official"}],
    :tags-string "official"}
   {:category "Community",
    :name "Clojure subreddit",
    :uri "http://www.reddit.com/r/clojure",
    :tags [{:name "reddit"}],
    :tags-string "reddit"}
   {:category "Community",
    :name "#clojure on FreeNode",
    :uri "http://irc.lc/freenode/clojure/irctc",
    :tags [{:name "freenode"} {:name "irc"}],
    :tags-string "freenode irc"}
   {:category "Community",
    :name "#clojurescript on FreeNode",
    :uri "http://irc.lc/freenode/clojurescript/irctc",
    :tags [{:name "freenode"} {:name "irc"}],
    :tags-string "freenode irc"}]}]
