.container {
    max-width: none;
}

.result-pagination {
    margin-bottom: 0.5em;
    float: right;
    overflow: hidden;
}

.result-pagination span.item-count {
    margin-right: 1em;
}

.datoms-components-inputs .form-group {
    margin-bottom: 0;
}