.masthead-title, .post-title, .page-title, h1, h2, h3, h4, h5, h6 {
    font-family: 'Volkhov', serif;
}

.post-suffix {
  font-style: italic;
  font-size: 0.9em;
}

.add-link-message {
    font-size: 0.7em;
}

span.hashtag {
    padding: 0.1em 0.3em;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: #eee;
    font-family: Menlo, Monaco, "Courier New", monospace;
}

iframe {
    margin-top: 0.5em;
}

li.link a {
    margin-right: 0.3em;
}

a.tag {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 55%;
    line-height: 1;
    color: #000;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background: #ddd;
    margin: 0 0.2em;
}

a.tag.active {
    background: #268bd2;
    color: white;
}

.edit-link {
    font-size: 0.7em;
}

input#search {
    margin: 0;
    display: block;
    border-radius: 5px;
    border: 1px solid #ddd;
    background: #ebebeb;
    padding: 5px;
    font-size: 1.5em;
    font-weight: bold;
    outline: none;
    box-sizing: border-box;
    width: 100%;
}

.tldr {
    border-radius: 7px;
    border: 1px solid;
    border-top-color: #d9d9d9;
    border-left-color: #d9d9d9;
    border-bottom-color: #999;
    border-right-color: #999;
    background: #f6f6f6;
    padding: 1.5rem;
    padding-top: 0;
    padding-bottom: 0.5rem;
}

.tldr h3 {
    border-bottom: 1px solid #ccc;
}

.consulting .subnav {
    background: #fff;
}

.consulting .subnav.cloned {
    border-bottom: 1px solid #ccc;
}

.consulting .subnav ul {
    margin: 0;
    padding: 5px;
    list-style-type: none;
    text-align: center;
}

.consulting .subnav ul li {
    display: inline;
    font-size: 0.9em;
}

.consulting .subnav ul li a {
    text-decoration: none;
    padding: .2em 1em;
}

.consulting .subnav ul li a:hover {
    text-decoration: underline;
}

a.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

#mc_embed_signup {
    background: #fff;
    clear: left;
    font-size: 14px;
    width: 100%;
    margin-bottom: 1.5rem;
}

.footer {
    padding-top: 0.5rem;
    border-top: 1px solid #ccc;
}

.footer p {
    font-size 0.9em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #313131;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #268bd2;
}
